{{> adminNavbar}}
{{> adminSidebar orders='orders'}}
<div class="vh-100 pt-2 pb-5">
<div class="container me-0 mt-0 pt-2">
  <h1 class="mb-2">Order Management</h1>
    <table class="table  main text-center table-striped userorder-container" id="datatable">
        <thead>
            <tr class="head">            
                <th class="text-center" scope="col">USER</th>
                <th class="text-center" scope="col">PHONE</th>
                <th class="text-center" scope="col">ADDRESS</th>
                <th class="text-center" scope="col">STATUS</th>
                <th class="text-center" scope="col">PAYMENT</th>
                <th class="text-center" scope="col">TOTAL</th>
                <th class="text-center" scope="col">ACTION</th>
            </tr>
        </thead>
        <tbody>
            
            <tr class="rounded bg-white">
               {{#each order}}
                               
                <td>{{user.firstname}} {{user.lastname}}</td>
                <td >{{shippingInfo.phone}}</td>               
                <td>{{shippingInfo.houseName}}, {{shippingInfo.city}}, {{shippingInfo.state}}, {{shippingInfo.country}} - {{shippingInfo.postalCode}}</td>
                <td>
                   {{#if isDelivered}}
                    Delivered
                    {{else}}
                    {{#if isCancelled}}
                    Cancelled
                    {{else}}
                    Processing
                    {{/if}}
                    {{/if}} 
                </td>
                <td>
                    {{paymentMode}}
                </td>
                <td>
                    Rs.{{totalAmount}}/-
                </td>

                {{!-- cancel order --}}
                <td >
                    {{#if isDelivered}}
                <div class="order-cancel">
                    <a class="success">Success</a>
                </div>
                {{else}}
                <div class="order-cancel">
                    <a class="btn btn-success">Approve</a>
                    {{#if isDelivered}}
                    <a class="success">Processed</a>
                    {{else}}
                    {{#if isCancelled}}
                    <a class=" " style="height:5rem; width:2rem; color:red; border-radius:10px">Cancelled</a>
                    {{else}}
                    <a onclick='cancelOrder(event)' data-url="{{_id}}" class="btn order-cancel-btn btn-danger">
                        Cancel
                    </a>
                    {{/if}}
                    {{/if}}
                </div>
                {{/if}}
                </td>
                {{!-- cancel order --}}
            </tr> 
            {{/each}}      
        </tbody>
        
    </table>
    <hr>
</div>
</div>

{{> dataTable}}
<script src="/javascript/admin-order.js"></script>

