{{> adminNavbar}}
{{> adminSidebar users='users'}}
<div class="container me-0 vh-100 pb-0" >
<h1 class="pt-3">User Management</h1>
<table class="table text-center " id="datatable" >
  <thead >
    <tr>
      <th class="text-center" scope="col">First Name</th>
      <th class="text-center" scope="col">Last Name</th>
      <th class="text-center" scope="col">Email</th>
      <th class="text-center" scope="col">Phone</th>
      <th class="text-center" scope="col">Action</th>
    </tr>
  </thead>
  <tbody class="table-success">
    {{#each users}}
    <tr>
      <td>{{firstname}}</td>
      <td>{{lastname}}</td>
      <td>{{email}}</td>
      <td>{{phone}}</td>
      <td>
        {{#if isBlocked}}
<!-- Button trigger modal -->
<button class="btn btn-success px-4" data-bs-toggle="modal" data-bs-target="#{{_id}}">Unblock</button>
        {{else}}
<!-- Button trigger modal -->
<button class="btn btn-danger px-4" data-bs-toggle="modal" data-bs-target="#{{_id}}">Block</button>
        {{/if}}
<!-- Modal -->
          <div class="modal fade" id="{{_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered ">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Are you sure you want to proceed?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-success block px-3" data-url={{_id}}>OK</button>
                </div>
              </div>
            </div>
          </div>        
      </td> 
    </tr>
    {{/each}}
  </tbody>  
</table>
</div>
{{> dataTable}}
<script src="/javascript/blockUser.js"></script>


