{{> adminNavbar}}
<div style="background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);">
<div class="container-fluid vh-100 pb-0 px-5">

<div class="d-flex justify-content-between align-items-center">
<h1 class="pt-3 ms-3 mb-4 fw-bolder text-dark">Product Management</h1>
{{> adminSidebar products='products'}}
</div>


<div class="mb-2 d-flex justify-content-end">
<a class="btn btn-success px-3 rounded-pill" href="/admin/addproduct">Add Product</a>
</div>

<div class="shadow bg-body-tertiary rounded-4 bg-white p-3">  
<table class="align-middle text-center" id="datatable">
  <thead >
    <tr class="">
      <th class="text-center w-25" >Product</th>
      <th class="text-center " >Price</th>
      <th class="text-center w-20" >Image</th>
      <th class="text-center " >Category</th>
      <th class="text-center " >Stock</th>
      <th class="text-center w-25" >Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each productList}}
    <tr>
      <td><p class="mx-0 mb-1">{{name}}</p></td>  
      <td>{{price}}</td>

      <td>
        <div class="d-flex align-items-center">
          <img
              src="{{image}}"
              alt=""
              style="width: 45px; height: 45px; display: block; margin-left: auto; margin-right: auto;"
              class="rounded"
              />          
        </div>
      </td>
      
      <td>
        <p class="mx-0 mb-1">{{category.name}}</p>
      </td>
      <td>
        <p class="mx-0 mb-1">{{stock}}</p>
      </td>
      
      <td class="d-flex justify-content-center">

      <ul class="mx-4 d-flex flex-row" style="list-style-type: none;"> 

        <li class="pe-3">
          <a class="btn btn-primary text-white px-4 rounded-pill" href="/admin/updateproduct/{{_id}}">Edit</a>
        </li>

        <li class="ps-3">
          {{#if isBlocked}}
          <!-- Button trigger modal -->
          <a class="btn btn-success text-white px-4 px-3 rounded-pill" data-bs-toggle="modal" data-bs-target="#{{_id}}">Add</a><!---Delete-->
          {{else}}
          <a class="btn btn-danger text-white rounded-pill" data-bs-toggle="modal" data-bs-target="#{{_id}}">Delete</a><!---Delete-->
          {{/if}}
          <!-- Modal -->
          <div class="modal fade" id="{{_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered ">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Are you sure you want to proceed?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-success delete-prod px-3" data-url={{_id}}>OK</button>
                </div>
              </div>
            </div>
          </div>
        </li>

      </ul>
      </td>
    </tr>    
    {{/each}}
  </tbody>
</table>
</div>

</div>
<div class="my-5 py-5 dummydivforspace">
  <div></div>
</div>

<footer class="container-fluid text-lg-start" style="font-size:12px" >
<div class="text-center text-black pb-5 fw-normal">
  © 2023 Copyright:  
  <a class="text-black text-decoration-none" href="#">ShopWine.com made with 
    <span class="text-danger fs-6">❤</span> by - Neeraj </a>
</div>
</footer> 
</div>
{{> dataTable}}
<script src="/javascript/deleteProduct.js"></script> 