{{> adminNavbar}}
<div style="background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);">
<div class="container-fluid vh-100 pb-0 px-5">

<div class="d-flex justify-content-between align-items-center">  
<h1 class="pt-3 ms-3 mb-4 fw-bolder text-dark">User Management</h1>
{{> adminSidebar users='users'}}
</div>

<div class="shadow bg-body-tertiary rounded-4 bg-white p-3">
<table class="text-center bg-white" id="datatable"  >
  <thead >
    <tr >
      <th class="text-center">First Name</th>
      <th class="text-center">Last Name</th>
      <th class="text-center">Email</th>
      <th class="text-center">Phone</th>
      <th class="text-center">Action</th>
    </tr>
  </thead>
  <tbody >
    {{#each users}}
    <tr>
      <td>{{firstname}}</td>
      <td>{{lastname}}</td>
      <td>{{email}}</td>
      <td>{{phone}}</td>
      <td>
        {{#if isBlocked}}
<!-- Button trigger modal -->
<button class="btn btn-success px-3 rounded-pill" data-bs-toggle="modal" data-bs-target="#{{_id}}">Unblock</button>
        {{else}}
<!-- Button trigger modal -->
<button class="btn btn-danger px-4 rounded-pill" data-bs-toggle="modal" data-bs-target="#{{_id}}">Block</button>
        {{/if}}
<!-- Modal -->
          <div class="modal fade" id="{{_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered ">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Are you sure you want to proceed?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-success block px-3" data-url={{_id}}>OK</button>
                </div>
              </div>
            </div>
          </div>        
      </td> 
    </tr>
    {{/each}}
  </tbody>  
</table>
</div>

</div>
<footer class="container-fluid text-lg-start" style="font-size:12px" >
<div class="text-center text-black pb-5 fw-normal">
  © 2023 Copyright:  
  <a class="text-black text-decoration-none" href="#">ShopWine.com made with 
    <span class="text-danger fs-6">❤</span> by - Neeraj </a>
</div>
</footer> 
</div>

{{> dataTable}}
<script src="/javascript/blockUser.js"></script>


