{{> adminNavbar}}
<div style="background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);">
    <div class="container-fluid vh-100 pb-0 px-5">

        <div class="d-flex justify-content-between align-items-center">
            <h1 class="pt-3 ms-3 mb-4 fw-bolder text-dark">Order Management</h1>
            {{> adminSidebar orders='orders'}}
        </div>

        <div class="shadow bg-body-tertiary rounded-4 bg-white p-3">
            <table class="main text-center" id="datatable">
                <thead>
                    <tr class="head">
                        <th class="text-center">USER</th>
                        <th class="text-center">PHONE</th>
                        <th class="text-center">ADDRESS</th>
                        <th class="text-center">PAYMENT</th>
                        <th class="text-center">TOTAL</th>
                        <th class="text-center">STATUS</th>
                        <th class="text-center">ACTION</th>
                        <th class="text-center">VIEW</th>

                    </tr>
                </thead>
                <tbody>

                    <tr class="rounded bg-white">
                        {{#each order}}

                        <td>{{user.firstname}} {{user.lastname}}</td>
                        <td>{{shippingInfo.phone}}</td>
                        <td>{{shippingInfo.houseName}}, {{shippingInfo.city}}, {{shippingInfo.state}},
                            {{shippingInfo.country}} - {{shippingInfo.postalCode}}</td>               
                        <td>
                            {{paymentMode}}
                        </td>
                       
                        <td>
                            Rs.{{totalAmount}}/-
                        </td>
                        {{!1-- status management--}}
                        <td>
                            {{#if isDelivered}}
                            Delivered
                            {{else}}
                            {{#if isCancelled}}
                            Cancelled
                            {{else}}
                            {{#if (logand isReturned (eq isReturnStatus false))}}
                            Return request
                            {{else}}
                            {{#if (logand isReturnStatus isReturned)}}
                            Returned
                            {{else}}
                            Processing
                            {{/if}}
                            {{/if}}
                            {{/if}}
                            {{/if}}
                        </td>
                        {{!0-- status management--}}

                        {{!1-- order management--}}
                        <td class="d-flex justify-content-center"> 

                        {{#if isDelivered}}
                            <div class="btn-group">
                                <button type="button" class="rounded-pill px-4 btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Action
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                    <!-- Button trigger modal -->
                                    <a class="btn px-5 text-danger" data-bs-toggle="modal" data-bs-target="#{{_id}}">Cancel</a>                                    
                                    </li>
                                </ul>
                                </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="{{_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                            Are you sure you want to cancel the order?
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button data-url="{{_id}}" onclick="cancelOrder(event)" type="button" class="btn btn-danger px-3" >OK</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                        {{else}}
                        {{#if isCancelled}}          
                                <div class="btn-group">
                                <button type="button" class="rounded-pill px-4 btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Action
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                    <!-- Button trigger modal -->
                                    <a class="btn px-5 text-success" data-bs-toggle="modal" data-bs-target="#{{_id}}">Deliver</a> 
                                    </li>
                                </ul>
                                </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="{{_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                            Are you sure you want to deliver the order?
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button data-url="{{_id}}" onclick="deliverOrder(event)" type="button" class="btn btn-success px-3" >OK</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>                                  
                        {{else}}
                        {{#if (logand isReturned (eq isReturnStatus false))}}      
                                <!-- Dropdown button -->
                                <div class="btn-group">
                                <button type="button" class="rounded-pill px-4 btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Action
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                    <!-- Button trigger modal -->
                                    <a class="btn px-5 text-info" data-bs-toggle="modal" data-bs-target="#{{_id}}">Approve</a> 
                                    </li>
                                </ul>
                                </div>
                                    <!-- Modal--->
                                    <div class="modal fade" id="{{_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                            Are you sure you want to approve the return?
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button data-url="{{_id}}" onclick="returnOrder(event)" type="button" class="btn btn-warning px-3" >OK</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                        {{else}}
                        {{#if (logand isReturnStatus isReturned)}}
                                <div class="btn-group">
                                <button disabled type="button" class="rounded-pill px-4 btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Action
                                </button>                                
                                </div>                                
                        {{else}}              
                        <!-- Dropdown button -->
                                <div class="btn-group">
                                <button type="button" class="rounded-pill px-4 btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Action
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                    <!-- Button trigger modal -->
                                    <a class="btn px-5 text-success" data-bs-toggle="modal" data-bs-target="#{{_id}}D">Deliver</a> 
                                    <a class="btn px-5 text-danger" data-bs-toggle="modal" data-bs-target="#{{_id}}C">Cancel</a>                                    
                                    </li>
                                </ul>
                                </div>
                                    <!-- Modal-1 -->
                                    <div class="modal fade" id="{{_id}}D" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                            Are you sure you want to deliver the order?
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button data-url="{{_id}}" onclick="deliverOrder(event)" type="button" class="btn btn-success px-3" >OK</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    <!-- Modal-2 -->
                                    <div class="modal fade" id="{{_id}}C" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                            Are you sure you want to cancel the order?
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button data-url="{{_id}}" onclick="cancelOrder(event)" type="button" class="btn btn-danger px-3" >OK</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>                        
                        {{/if}}                                       
                        {{/if}}
                        {{/if}}
                        {{/if}}
                        </td>
                        {{!0-- order management--}}
                        <td>                           
                            <a href="/admin/view-order/{{_id}}" class="btn text-dark fa-solid fa-eye"></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>

            </table>
        </div>

    </div>
    <div class="my-5 py-5 dummydivforspace">
        <div></div>
    </div>
    <footer class="container-fluid text-lg-start" style="font-size:12px">
        <div class="text-center text-black pb-5 fw-normal">
            © 2023 Copyright:
            <a class="text-black text-decoration-none" href="#">ShopWine.com made with
                <span class="text-danger fs-6">❤</span> by - Neeraj </a>
        </div>
    </footer>
</div>



{{> dataTable}}
<script src="/javascript/admin-order.js"></script>